<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="DemoDbConnection"
         connectionString="Data Source=DESKTOP-HOE191E\SQLEXPRESS;Initial Catalog=OnlineShop;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
    <add name="DemoDbConnection"
         connectionString="Data Source=ATZWS135480\SQLSERVER2014;Initial Catalog=OnlineShop;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>

    <client>
      <endpoint address="net.tcp://localhost:1234/CustomerService"
                binding="netTcpBinding"
                contract="Demo.Business.Contracts.ICustomerService" />
      <endpoint address="net.tcp://localhost:1234/InventoryService"
                binding="netTcpBinding"
                contract="Demo.Business.Contracts.IInventoryService" />
      <endpoint address="net.tcp://localhost:1234/ShoppingService"
                binding="netTcpBinding"
                contract="Demo.Business.Contracts.IShoppingService" />
    </client>

    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000"
                 transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

</configuration>