<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>

  <connectionStrings>

    <add name="DemoDbConnection"
         connectionString="Data Source=ATZWS135480\SQLSERVER2014;Initial Catalog=OnlineShop;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    
  </connectionStrings>

  <system.serviceModel>
    
    <!-- service configuration endpoints -->
    <!-- has to match with client's config file -->
    <services>
      <service name="Demo.Business.Managers.CustomerManager">
        <endpoint address="net.tcp://localhost:1234/CustomerService"
                  binding="netTcpBinding"
                  contract="Demo.Business.Contracts.ICustomerService" />
      </service>
      <service name="Demo.Business.Managers.InventoryManager">
        <endpoint address="net.tcp://localhost:1234/InventoryService"
                  binding="netTcpBinding"
                  contract="Demo.Business.Contracts.IInventoryService" />
      </service>
      <service name="Demo.Business.Managers.ShoppingManager">
        <endpoint address="net.tcp://localhost:1234/ShoppingService"
                  binding="netTcpBinding"
                  contract="Demo.Business.Contracts.IShoppingService" />
      </service>
    </services>
    
    <!-- bindings configuration for all netTcpBondings -->
    <!-- has to match with client's config file -->
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000"
                 transactionFlow="true"> <!-- turn transactionFlow on -->
          <reliableSession enabled="true" /> <!-- turn reliableSession on, too -->
        </binding>
      </netTcpBinding>
    </bindings>
    
    <!-- behaviors - only on the service side of the service -->
    <!-- serviceBehaviors or endpointBehaviors -->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <operationReport enabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="operationReport"
             type="Demo.Business.Managers.Monitoring.OperationReportServiceBehaviorExtension, Demo.Business.Managers"/>
      </behaviorExtensions>
    </extensions>
    
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
</configuration>